.body{
    font-family: 'lato', sans-serif;
    font-family: 'open sans', sans-serif;
}
/*header related style */
.header{
    background: rgba(229, 84, 115, 0.10); 
     
}
.banner{
    width: 1500px;
 height: 850px;
flex-shrink: 0;
 display: flex;
 
}
.banner .profile-picture{
    width: 635px;
height: 850px;
flex-shrink: 0;
}
.btn-primary{
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;
}
.banner-title{
    display: flex;
width: 708px;
flex-direction: column;
flex-shrink: 0;
color: #272727;
font-family: Lato;
 font-size: 80px;
font-weight: 800;
 
 } 
 .banner-description{
    display: flex;
    width: 634px;
    flex-direction: column;
    flex-shrink: 0;
    color: rgba(39, 39, 39, 0.60);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: 30px;
 }

 /* main section style */


 .section-title{
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
   
 }
.section-description{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    
}
 
 

.png-part{
    width: 464px;
height: 538px;
flex-shrink: 0;
border-radius: 300px 300px 0px 0px;
background: rgba(167, 33, 98, 0.15);
}
.png-second{
    border-radius: 300px 300px 0px 0px;
background: rgba(5, 151, 160, 0.15);
width: 464px;
height: 538px;
flex-shrink: 0;
}
.png-third{
    border-radius: 300px 300px 0px 0px;
background: rgba(71, 125, 17, 0.15);
    width: 464px;
height: 530px;
flex-shrink: 0;
}

 .info-title{
    color: #272727;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
 }
  
  .png-info-container{
    color: #272727;
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
  }
 
.both-title{
    width: 1440px;
    height: 320px;
    flex-shrink: 0;
}
   .both-greeting {
    color: rgba(39, 39, 39, 0.80);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
   }  
.both-description{
    color: rgba(39, 39, 39, 0.80);
text-align: center;
font-family: Lato;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 35px;
}
.png-pic{
    width: 318px;
height: 420px;
flex-shrink: 0;
justify-content: space-between;
}

 .foot-img{
    background-image: url("../styles/Rectangle\ 9.png");
    width: 1440px;
height: 449px;
border-radius: 8px;
 align-items: center;
 } 
 .png-btn{
    display: inline-flex;
padding: 20px 43px;
align-items: flex-start;
gap: 10px;
border-radius: 8px;
background: #E55473;

 }
 
 .set-iteam{
    border-radius: 8px;
background: #E55473;
width: 150px;
height: 64px;
flex-shrink: 0;
align-items: center;
 }



















 





















